body {
  background-image: url('fondo_user.jpg'); /* Añade la ruta a tu imagen de fondo corporativa */
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
}
.center{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: auto;  
}
.container {
  max-width: 800px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.user-info p, .fichas ul {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.fichas h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #0056b3;
}
